pandas
numpy<2
matplotlib
seaborn
streamlit
streamlit-option-menu
streamlit-extras
chardet
pyjanitor
ydata-profiling
streamlit-pandas-profiling
setuptools
wheel
missingno
feature-engine
scikit-learn<1.5
klib
pandasai
groq
tiktoken
pyyaml
textblob
category-encoders
pymongo